body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color:rgb(230, 220, 206);
  padding-top: 6%;
  padding-bottom: 50px;
}

li {
  margin-bottom: 15px;
}

h3{
  text-align: center;
}
.header{
  background-color: rgb(255, 225, 160);
  position:fixed;
  top:0;
  left:0;
  right:0;
  text-align: center;
}
#title{
  color:rgb(106, 31, 31);
}

.text{
  color:rgb(78, 38, 27);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 25px;
}

.lasagna-pic{
  width: 500px;
  height: 350px;
  object-fit: cover;
  display: block;   
  margin: 0 auto;

  border: solid;
  border-radius: 30px;
  border-color: rgb(73, 68, 68);
  border-width: 10px;
  margin-bottom: 35px;
}

.info{
  margin: 0 auto;
  width: 70%;
  background-color: #d9c8a7;
  border-radius: 15px;
  border: 2px solid #000000;
  padding: 20px;
}
#desc{
  text-align: justify;
  text-indent: 50px;
  line-height: 1.4;
}

.separate{
  display: flex;
  justify-content:space-between;
  padding-top: 20px;
  margin-left: 155px ;
  margin-right: 155px;
    }

.ingredient{
  width: 50%;
  background-color: #d9c8a7;
  border-radius: 15px;
  border: 2px solid #000000;
  padding:30px;
  margin-right: 20px;
  
}

.instruction{

  width: 70%;
  background-color:  #d9c8a7;
  border-radius: 15px;
  border: 2px solid #000000;
  padding:30px;

}
