body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color:rgb(230, 220, 206);
  padding-top: 10%;
}

img{
  width: 250px;
  height: 350px;
  object-fit: cover;
  
  border: solid;
  border-radius: 30px;
  border-color: rgb(73, 68, 68);
  border-width: 10px;
  
}

p{
font-size: 20px;
font-weight: bold;
color: rgb(74, 54, 54);
}

.header{
  background-color: rgb(255, 225, 160);
  position:fixed;
  top:0;
  left:0;
  right:0;
  text-align: center;
}
#title{
  color:rgb(106, 31, 31);
}

.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 10px;
  align-items: center;
  text-align: center;
}
@media (max-width: 850px){
  .container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 851px) and (max-width:999px){
  .container{
        grid-template-columns: 1fr 1fr 1fr;
  }

@media (min-width: 1000px){
  .container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
}